body{font-size:110%;font-style:normal;font-weight:400;letter-spacing:0;text-transform:none;word-spacing:0;}
.container{margin-right:auto;margin-left:auto;margin-top:50px;}
#avatar{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
div > article{margin-bottom:30px;}
.container-narrow{margin:0 auto;max-width:900px;}
p{margin:0 0 20px;}
h3{margin-bottom:30px;margin-top:20px;}
article > header{margin-bottom:30px;}
.post{font-size:20px;padding-bottom:40px;}
.postdate{color:#999;text-align:right;}
.content{padding-left:10px;padding-right:10px;line-height:1.7;}
.widget-avatar{margin-left:auto;margin-right:auto;width:150px;}
.widget-content{margin-top:20px;color:#999;text-align:center;}
#icons{padding-top:20px;padding-bottom:20px;}
#icons a{text-decoration:none;}
#homepage{padding-bottom:10px;}
#homepage a{text-decoration:none;}
