<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Anthony Scotti">
    <meta name="robots" content="index, follow">
    <meta name="distribution" content="global">
    <meta name="revisit-after" content="1 days">

    <meta name="google-site-verification" content="32vzQ3Pur02j4fapY9LVy-ajR0yN5dG9WeVWNKn-qIA" />

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="128bit.io">
    <meta property="og:title" content="128bit.io - 2^7 bits of goodness!">
    <meta property="og:url" content="http://128bit.io">
    <meta property="og:image" content="http://128bit.io/images/self_bw.png">

    <meta name="twitter:site" content="@amscotti">
    <meta name="twitter:creator" content="@amscotti">
    <meta name="twitter:domain" content="128bit.io">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="128bit.io - 2^7 bits of goodness!">
    <meta name="twitter:image:src" content="http://128bit.io/images/self_bw.png">
    <title>{{page.title}}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1 class="muted"><a href="/">128bit.io</a></br><small>2^7 bits of goodness!</small></h1>
            </div>
        </div>
        <hr />
        <div class="row">
            <aside class="span3 hidden-phone">
                <img class="self" src="/images/self_bw.png" alt="self" height="200" width="200">
                <div class="widget-content">
                    <div><b>Anthony Scotti</b></div>
                    <div><i>Software Engineer</i></div>
                    <div>@ <a href="http://coeverywhere.com">CO Everywhere</a></div>
                    <div id="icons">
                        <a href="https://github.com/amscotti"><i class="icon-github-sign icon-2x"></i></a>
                        <a href="https://twitter.com/amscotti"><i class="icon-twitter-sign icon-2x"></i></a>
                        <a href="https://plus.google.com/104990874528544959615?rel=author"><i class="icon-google-plus-sign icon-2x"></i></a>
                        <a href="https://www.linkedin.com/in/amscotti"><i class="icon-linkedin-sign icon-2x"></i></a>
                        <a href="feed.xml"><i class="icon-rss-sign icon-2x"></i></a>
                    </div>
                    <!--
                    <div id="homepage">
                        <a href="http://amscotti.com"><i class="icon-cloud"></i> amscotti.com</a>
                    </div>
                    -->
                </div>
                <hr>
                <a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/String" title="JavaScript String concat">
                    <img src="/images/promotejsh.gif" alt="JavaScript String concat" height="150" width="180">
                </a>
            </aside>
            <div class="span9" role="content">
                {{content}}

                {% if paginator %}
                <div class="row">
                    <div class="span9">
                        <div class="pagination">
                            {% if paginator.previous_page %}
                                {% if paginator.previous_page == 1 %}
                                <a href="/">Previous</a>
                                {% else %}
                                <a href="/page{{paginator.previous_page}}">Previous</a>
                                {% endif %}
                            {% else %}
                            <span class="previous">Previous</span>
                            {% endif %}
                            <span class="page_number ">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
                            {% if paginator.next_page %}
                            <a href="/page{{paginator.next_page}}" class="next ">Next</a>
                            {% else %}
                            <span class="next">Next</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <footer class="row">
            <div class="span12">
                <hr />
                <div class="row">
                    <div class="span6">
                        <!-- <p>&copy; Anthony Scotti 2014</p> -->
                    </div>
                    <div class="span6"></div>
                </div>
            </div>
        </footer>
    </div>

    <script>
      var _gaq=[['_setAccount','UA-16746023-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js'; g.async = true;
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
