<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <meta name="viewport" content="width=device-width" />
    <title>{{page.title}}</title>
</head>
<body>
    <div class="container-narrow">
        <div class="row-fluid">
            <div class="span12">
                <h1><a href="/">128-bit Studios</a></br><small>2^7 bits of goodness!</small></h1>
            </div>
        </div>
        <hr />
        <div class="row-fluid">
            <div class="span12 content" role="content">
                <article>
                    <header>
                        <h2>{{ page.title }}</h2>
                        <h6>By {{ page.author }} on <time pubdate datetime="{{page.date | date: '%Y-%m-%d'}}">{{page.date | date_to_string}}</time></h6>
                    </header>
                    <div class="entry">{{content}}</div>
                </article>
            </div>
        </div>
        <footer class="row-fluid">
            <div class="span12">
                <hr />
                <div class="row-fluid">
                    <div class="span6">
                        <p>&copy; Anthony Scotti 2013</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script>
      var _gaq=[['_setAccount','UA-16746023-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js'; g.async = true;
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
